header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  height: 56px;
  padding: 10px;
  color: white;
}
header > img {
  height: 56%;
  margin: auto 10px;
}
main {
  padding: 40px;
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 16px;
}
form > input {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  text-indent: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}
.form > button {
  font-family: 'Karla', sans-serif;
  grid-column: 1 / -1;
  font-size: 1rem;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor:pointer;
  padding: 8px auto;
}
main > img {
  max-width: 100%;
  margin-block: 24px;
}
